{% extends 'base.html' %}
{% load static %}

<html lang="">
<head>
<title>Sislaf</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'hm/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
<style>
  .bgdedoverlay{
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
</style>

</head>
<body id="top">
<div class="bgdedoverlay" style="background-image:url({% static 'hm/images/demo/backgrounds/bg1.jpg' %});">
  
  
  
  <div id="pageintro" class="hoc clear">
    <article>
      <h3 class="heading">QUALITY FOOD ITEMS</h3>
      <!-- <p>Register with us and have quality food items at your door step.</p> -->
      <footer>

      </footer>
    </article>
  </div>
</div>
<div class="wrapper row3">
  <main class="hoc container clear">

    <section id="introblocks">
      <ul class="nospace group btmspace-80">
        
        {% for i in pr %}
        <li class="one_third">
          <figure><a class="imgover" href="{{i.get_url}}"><img src="{{i.img.url}}" alt="" style="height: 400px;width: 300px;"></a>
            <figcaption>
              <h6 class="heading">{{i.name}}</h6>
              <p>{{i.desc|truncatewords:17}}</p>
              <p>Price:{{i.price}} Rs</p>
              <p>Stock left:{{i.stock}}</p>

            </figcaption>
          </figure>
        </li>
        {% endfor %}
        




      </ul>
    </section>

    <hr class="btmspace-80">

    <div class="clear"></div>
  </main>
</div>
<!-- JAVASCRIPTS -->
<script src="{% static 'hm/layout/scripts/jquery.min.js' %}"></script>
<script src="{% static 'hm/layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'hm/layout/scripts/jquery.mobilemenu.js' %}"></script>
</body>
</html>

